<header
  class="border-b border-gray-200 bg-gray-50 dark:border-gray-800 dark:bg-gray-900"
>
  <div class="mx-auto max-w-screen-xl px-4 py-8 sm:px-6 sm:py-12 lg:px-8">
    <div
      class="flex flex-col items-start gap-4 md:flex-row md:items-center md:justify-between"
    >
      <div>
        <h1
          class="text-2xl font-bold text-gray-900 sm:text-3xl dark:text-white"
        >
          TrainBuddy
        </h1>

        <p class="mt-1.5 text-sm text-gray-500 dark:text-gray-400">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iure,
          recusandae.
        </p>
      </div>

      <div class="flex items-center gap-4">
        <a
          class="group relative inline-flex items-center overflow-hidden rounded bg-cyan-300 px-8 py-3 text-white focus:outline-none focus:ring active:bg-indigo-500"
          href="/login"
        >
          <span class="absolute -end-full transition-all group-hover:end-4">
            <svg
              class="size-5 rtl:rotate-180"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M17 8l4 4m0 0l-4 4m4-4H3"
              />
            </svg>
          </span>

          <span class="text-sm font-medium transition-all group-hover:me-4">
            Login
          </span>
        </a>

        <!-- Border - Left -->

        <a
        
          class="group relative inline-flex items-center overflow-hidden rounded border border-current px-8 py-3 text-cyan-300 focus:outline-none focus:ring active:text-indigo-500"
          href="/signup"
        >
          <span class="absolute -end-full transition-all group-hover:end-4">
            <svg
              class="size-5 rtl:rotate-180"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M17 8l4 4m0 0l-4 4m4-4H3"
              />
            </svg>
          </span>

          <span class="text-sm font-medium transition-all group-hover:me-4">
            Signup
          </span>
        </a>
      </div>
    </div>
  </div>
</header>
